.header__lang-link {
  color: #ffffff;
  text-decoration: none;
  margin-left: 18px;
  font-size: 24px;
  line-height: 28px;
  font-weight: normal;
}

.header__lang-link:hover {
  opacity: 0.8;
  transition: opacity .3s;
}

@media (max-width: 320px) {
  .header__lang-link {
    font-size: 20px;
    line-height: 1.1;
  }
}
