.photo-grid {
  padding: 92px 48px 0;
  max-width: 1184px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 16px;
}

@media screen and (min-width: 1024px) and (max-width:1279px) {
  .photo-grid {
    gap: 14px;
  }
}

@media screen and (min-width: 768px) and (max-width:1023px) {
  .photo-grid {
    padding: 88px 24px 0;
    gap: 16px;
  }
}

@media screen and (min-width: 425px) and (max-width:767px) {
  .photo-grid {
    padding: 88px 24px 0;
    gap: 16px;
  }
}

@media screen and (max-width:425px) {
  .photo-grid {
    padding: 64px 16px 0;
    gap: 12px;
  }
}
