.header {
  margin: 28px 48px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .header {
    margin: 28px 24px 0;
  }
}

@media screen and (max-width: 320px) {
  .header {
    margin: 16px 16px 0;
  }
}
