.header {
  max-width: 1184px;
  margin: auto;
  margin-top: 28px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@media (max-width: 1280px){
  .header{
    margin: 28px 48px 0;
  }
}

@media (max-width: 768px) {
  .header {
    margin: 28px 24px 0;
  }
}

@media screen and (max-width: 425px) {
  .header {
    margin: 16px 16px 0;
  }
}
