.footer__link {
  color: #fff;
  text-decoration: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
}

.footer__link:hover {
  opacity: 0.8;
  transition: opacity .3s;
}
@media (max-width: 730px){
  .footer__link {
    font-size: 24px;
    line-height: 24px;
  }
}
