.intro {
  max-width: 984px;
  margin: auto;
  padding-top: 92px;
}

@media (max-width:1280px) {
  .photo-grid {
    padding: 92px 48px 0;
  }
}

@media (max-width:1024px) {
  .intro {
    padding: 88px 24px 0;
    max-width: 928px;
  }
}

@media (max-width:425px) {
  .intro {
    padding: 64px 16px 0;
  }
}
