.cover__backgroud {
  background-image: url('../../../images/cover-trains.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 740px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

@media (max-width: 1024px) {
  .cover__backgroud{
    height: 640px;
  }
}

@media (max-width: 768px) {
  .cover__backgroud{
    height: 480px;
  }
}

@media (max-width: 577px) {
  .cover__backgroud{
    height: 200px;
  }
}
