.lead__caption {
  color: #ffffff;
  margin: 0;
  margin-top: 8px;
  max-width: 984px;
  margin: auto;
}

@media screen and (min-width: 425px) and (max-width:984px) {
  .lead__caption {
    margin-left: 24px;
  }
}

@media screen and (max-width:425px) {
  .lead__caption {
    margin-left: 16px;
  }
}
