.cover__title {
  /*margin: 245px auto 0 auto;*/
  margin: 0;
  width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #fff;
}

@media (max-width: 577px) {
  .cover__title{
    width: 288px;
    font-size: 32px;
    line-height: 35px;
  }
}

