.place__website {
  margin: 0;
  margin-left: 40px;
  align-self: flex-end;
}

@media (max-width: 1024px) {
  .place__website {
    margin-left: 32px;
  }
}

@media (max-width: 944px) {
  .place__website {
    margin-left: 28px;
  }
}

@media (max-width: 736px) {
  .place__website {
    display: none;
  }
}
