.intro__title {
  color: #ffffff;
  margin: 0;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
}

@media screen and (max-width: 425px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }
}
